.zap-container{
        position: fixed;
        bottom: 3%;
        z-index: 8;
        display:flex;
        justify-content: flex-end;
        align-items:center;
        width:100%;
        padding-right: 2%;
}
.zap-element{ 
        line-height: 30px;
        justify-content: space-between; 
        padding: 5px 0px 5px 20px; 
        font-family: Lato, sans-serif; 
        color: rgb(255, 255, 255); 
        
}
.zap-unit{
        padding:0;
        margin:0;
}
.zap{
      	text-decoration: none; 
      	font-weight: bold; 
      	color: inherit; 
        cursor: pointer;
}
.zap .icones{
        width: 100%; 
}

@media only screen and (max-width: 600px){
        .zap-container{
                width: 100%;
                padding-right: 5%
        }
        .zap-element{
                #code
        }
        .zap{  
                #code
        }
}
@media only screen and (max-width: 950px) and (min-width: 650px) {
        .zap-container {
                right: 2%;
                bottom: 70px;
          }
}
